@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #222831;
    --foreground: #EEEEEE;
    
    --card: #222831;
    --card-foreground: #EEEEEE;
    
    --primary: #00ADB5;
    --primary-foreground: #EEEEEE;
    
    --secondary: #FCCD2A;
    --secondary-foreground: #EEEEEE;
    
    --accent: #C0EBA6;
    --accent-foreground: #EEEEEE;
    
    --muted: #222831;
    --muted-foreground: #EEEEEE;
    
    --destructive: #222831;
    --destructive-foreground: #EEEEEE;
    
    --border: #222831;
    --input: #222831;
    --ring: #222831;
    
    --radius: 0.5rem;
  }
  .dark {
    --background: #222831;
    --foreground: #EEEEEE;
    
    --card: #222831;
    --card-foreground: #EEEEEE;
    
    --primary: #00ADB5;
    --primary-foreground: #EEEEEE;
    
    --secondary: #00ADB5;
    --secondary-foreground: #EEEEEE;
    
    --accent: #00ADB5;
    --accent-foreground: #EEEEEE;
    
    --muted: #222831;
    --muted-foreground: #EEEEEE;
    
    --destructive: #222831;
    --destructive-foreground: #EEEEEE;
    
    --border: #222831;
    --input: #222831;
    --ring: #222831;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
