@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-urbanist);
}

@layer base {
  :root {
    --background: 220 17% 13%;    /* #222831 */
    --foreground: 0 0% 93%;       /* #EEEEEE */
    
    --card: 220 17% 13%;         /* #222831 */
    --card-foreground: 0 0% 93%; /* #EEEEEE */
    
    --primary: 184 100% 35%;     /* #00ADB5 */
    --primary-foreground: 0 0% 93%; /* #EEEEEE */
    
    --secondary: 45 95% 58%;     /* #FCCD2A */
    --secondary-foreground: 0 0% 93%; /* #EEEEEE */
    
    --accent: 90 67% 79%;        /* #C0EBA6 */
    --accent-foreground: 0 0% 93%; /* #EEEEEE */
    
    --muted: 220 17% 13%;        /* #222831 */
    --muted-foreground: 0 0% 93%; /* #EEEEEE */
    
    --destructive: 220 17% 13%;  /* #222831 */
    --destructive-foreground: 0 0% 93%; /* #EEEEEE */
    
    --border: 220 17% 13%;       /* #222831 */
    --input: 220 17% 13%;        /* #222831 */
    --ring: 220 17% 13%;         /* #222831 */
    
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 17% 13%;    /* #222831 */
    --foreground: 0 0% 93%;       /* #EEEEEE */
    
    --card: 220 17% 13%;         /* #222831 */
    --card-foreground: 0 0% 93%; /* #EEEEEE */
    
    --primary: 184 100% 35%;     /* #00ADB5 */
    --primary-foreground: 0 0% 93%; /* #EEEEEE */
    
    --secondary: 184 100% 35%;   /* #00ADB5 */
    --secondary-foreground: 0 0% 93%; /* #EEEEEE */
    
    --accent: 184 100% 35%;      /* #00ADB5 */
    --accent-foreground: 0 0% 93%; /* #EEEEEE */
    
    --muted: 220 17% 13%;        /* #222831 */
    --muted-foreground: 0 0% 93%; /* #EEEEEE */
    
    --destructive: 220 17% 13%;  /* #222831 */
    --destructive-foreground: 0 0% 93%; /* #EEEEEE */
    
    --border: 220 17% 13%;       /* #222831 */
    --input: 220 17% 13%;        /* #222831 */
    --ring: 220 17% 13%;         /* #222831 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
